/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* цвет фона основной #E5E5E5 */
/* цвет фона вторичный #FFFFFF #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --acent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --additional-bg-color: #f5f4fa;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
/* Header */
.page-header {
  background-color: var(--primary-white-color);
}
.logo {
  color: var(--acent-color);
}
.logo:hover,
.logo:focus {
  color: var(--acent-color);
}
.logo-header {
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}
/* Navigation */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-color);
}
.site-nav .link.current {
  color: var(--acent-color);
}
.contacts a {
  color: var(--secondary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--acent-color);
}
/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
}
.hero-title {
  color: var(--primary-white-color);
}
/* What we do */
.section-title {
  color: var(--primary-text-color);
}
.features-title {
  color: var(--primary-text-color);
}
.features .description {
  color: var(--secondary-text-color);
}
/* Team */
.section-team {
  background-color: var(--additional-bg-color);
}
.team-title {
  color: var(--primary-text-color);
}
.team-description {
  color: var(--secondary-text-color);
}
/* Footer */
.page-footer {
  background-color: var(--secondary-bg-color);
}
.logo-footer {
  color: var(--primary-white-color);
}
.contacts-adress {
  color: var(--primary-white-color);
}
/* Button */
.button {
  color: var(--primary-text-color);
  background-color: var(--additional-bg-color);
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}
.button.secondary {
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}
/* Portfolio section*/
.section-link .title {
  color: var(--primary-text-color);
}
.section-link .description {
  color: var(--secondary-text-color);
}
